body {
  background-color: #fcf6f5;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.image {
  margin-right: 50px;
  
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-family: sans-serif;
  color: #2BAE66;
}

.form-group select {
  padding: 10px;
  font-size: 15px;
  width: 100%;
  font-family: sans-serif;
  width: 300px;
  appearance: none;
  background-image: url('arrow.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 20px;
  padding-right: 30px;
}

.form-group .flatpickr {
  display: inline-block;
  width: 100%;
}

.form-group .flatpickr input {
  padding: 10px;
  font-size: 15px;
  font-family: sans-serif;
  width: 100%;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

button[type="submit"] {
  background-color: #2BAE66;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #218c5e;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    padding: 20px;
  }

  .image {
    margin-bottom: 20px;
    margin-right: 0;
   
  }

  .form-group select {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  h2 {
    font-size: 30px;
  }

  .form-group select {
    font-size: 13px;
  }

  button[type="submit"] {
    padding: 8px 15px;
    font-size: 13px;
  }
}
